/* @keyframes fadein {
  from {
    color: transparent;
  }
}

@keyframes slide-to-right {
  from {
    margin-right: 100%;
  }
}

@keyframes slide-to-left {
  from {
    margin-left: 100%;
  }
} */

header {
  width: 100vw;
  height: 125px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

#gradient-here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#fff, #FEF9EF, #FFF5DC, #D7F9FF, #AAF2FF);
}

section.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: var(--desktop-page-height);
  border-bottom: 1px solid red;
}

h2 {
  font-size: 3rem;
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: 1;
}

p {
  /* border: 1px solid green; */
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: 1;
}

div.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

article.half-page {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.picture-png {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-png.left {
  animation-duration: 3s;
  animation-name: slide-to-right;
  animation-iteration-count: 1;
}

.picture-png.right {
  animation-duration: 3s;
  animation-name: slide-to-left;
  animation-iteration-count: 1;
}

/* #last-page {
  height: calc(var(--desktop-page-height) - 70px);
  border: none;
}

footer {
  position: sticky;
  left: 100%;
  bottom: 0;
  width: 33vw;
  height: 70px;
  background-color: white;
  border-left: 1px solid black;
  border-top: 1px solid black;
  z-index: 100;
} */