@import url('https://fonts.googleapis.com/css2?family=Armata&family=Noto+Sans+KR:wght@100;500;700&family=Ultra&display=swap');

/*
font-family: 'Armata', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Ultra', serif;
*/

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Ultra', sans-serif;
}

p, span, ul, li, h2, h3 {
  font-family: 'Armata', 'Noto Sans KR', sans-serif;
}